img{
    width: 90%;
    max-width: 1300px;
    max-height: 500px;
    opacity: 40%;
    border-radius: 20px;
    align-self: center;
    margin-top: 25px;
}
p{
  text-align: center;
  font-size: 14pt;
  color: #5A58A6;
}
