h2{
    color: #2C3D73;
}
ul{
    list-style-type: none;
}
img{
    height: 80px;
    width: 80px;
}
p{
    color: #5A58A6;
    font-weight: bold;
    font-size: 13pt;
    text-align: center;
}
.progress{
    width: 80%;
    margin-top: -6px;
}
.progress-bar{
  background-color: #5A58A6;
}
.bi-pencil-square, .bi-trash3{
  margin-top: -2px;
}
